body {
  background: $bg-default;
}

.content-block {
  background: white;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  border: 1px solid rgba(194, 194, 194, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);
}

.v-content {
  margin: 20px 0;
}

.section-title {
  @include font-size(25px);
  color: $title-color;
}

.v-list__tile__title {
  font-weight: bold;
  color: $title-color;
}

.swal2-popup {
  font-family: Roboto, sans-serif;
}