$primary-color: #764ba2;
$primary-color-hover: #5b3286;
$secondary-color: #667eea;
// $alternative-color: rgb(255,221,0);
$bg-default: #f8f8f8;

$title-color: #444;
$text-color: #525252;
$border-color: #9b9b9b;
$white: #fff;
