<template>
  <v-app>
    <!-- Sidebar -->
    <v-navigation-drawer v-model="drawer" width="230" app>
      <v-toolbar flat class="transparent">
        <v-list class="pa-0">
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <img :src="user.photoURL" />
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title>{{user.displayName}}</v-list-tile-title>
              <!-- <small>{{user.company}}</small> -->
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>

      <v-list>
        <v-divider></v-divider>
        <v-list-tile to="/admin/dashboard">
          <v-list-tile-action>
            <v-icon>dashboard</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Dashboard</v-list-tile-title>
        </v-list-tile>

        <v-list-tile to="/admin/calendar">
          <v-list-tile-action>
            <v-icon>today</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Agendamentos</v-list-tile-title>
        </v-list-tile>

        <v-list-tile to="/admin/customers">
          <v-list-tile-action>
            <v-icon>people</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Clientes</v-list-tile-title>
        </v-list-tile>

        <v-list-tile to="/admin/services">
          <v-list-tile-action>
            <v-icon>view_list</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Serviços</v-list-tile-title>
        </v-list-tile>

        <!-- <v-list-tile to="/admin/products">
          <v-list-tile-action>
            <v-icon>shopping_cart</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Produtos</v-list-tile-title>
        </v-list-tile>

        <v-list-tile to="/admin/marketing">
          <v-list-tile-action>
            <v-icon>record_voice_over</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Marketing</v-list-tile-title>
        </v-list-tile>

        <v-list-tile to="/admin/reports">
          <v-list-tile-action>
            <v-icon>donut_small</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Relatórios</v-list-tile-title>
        </v-list-tile>-->
      </v-list>

      <v-list>
        <v-divider></v-divider>
        <v-container style="padding: 10px 16px 10px;">
          <span style="color: #868686;">Configurações</span>
        </v-container>
        <v-list-tile to="/admin/settings">
          <v-list-tile-action>
            <v-icon>settings</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Configurações</v-list-tile-title>
        </v-list-tile>

        <v-list-tile to="/admin/integrators">
          <v-list-tile-action>
            <v-icon>extension</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Integrações</v-list-tile-title>
        </v-list-tile>

        <v-list-tile @click="logoutFromFirebase">
          <v-list-tile-action>
            <v-icon>extension</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Logout</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <!-- Content of page -->
    <v-content>
      <v-fade-transition mode="out-in">
        <router-view></router-view>
      </v-fade-transition>
    </v-content>

    <!-- <v-footer class="pa-3" color="#000" dark app>
      <span> © 2019 - <a href="https://agendamentofacil.app/">Jr Artes e Sublimação</a> </span>
    </v-footer>-->
  </v-app>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
  data() {
    return {
      drawer: true,
    };
  },
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    logoutFromFirebase() {
      this.$store.dispatch("signOutAction");
    }
  },
  beforeCreate() {
    this.$store.dispatch("checkSignInAction", this);
  }
};
</script>