<template>
  <v-app class="auth">
    <div class="auth_box content-block">
      <div class="auth_box_content">
        <LoginForm v-if="loginForm" />
        <RegisterForm v-else />
      </div>
    </div>
    <div class="auth_footer">
      <a @click="formSwitcher()">» {{message}}</a>
    </div>
  </v-app>
</template>

<script>
import LoginForm from "@/components/LoginForm.vue";
import RegisterForm from "@/components/RegisterForm.vue";
export default {
  name: "Authentication",
  components: {
    LoginForm,
    RegisterForm
  },
  data() {
    return {
      loginForm: true,
      message: "Ainda não possui conta? Faça o cadastro agora mesmo!"
    };
  },
  methods: {
    formSwitcher() {
      if (this.loginForm) {
        this.loginForm = !this.loginForm;
        this.message = "Já sou cadastrado. Quero fazer login!";
      } else {
        this.loginForm = !this.loginForm;
        this.message = "Ainda não possui conta? Faça o cadastro agora mesmo!";
      }
    }
  },
  beforeCreate() {
    this.$store.dispatch("checkSignInAction", this);
  }
};
</script>