.auth {
  background: $bg-default;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  padding: 1rem;

  h1 {
    color: $text-color;
    margin-bottom: 25px;
    font-weight: normal;
  }

  p {
    color: rgba(68, 68, 68, 0.6) !important;
    margin-bottom: 25px;
  }

  .application--wrap {
    min-height: 1vh !important;
    flex: initial !important;
  }

  &_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    max-width: 100%;
    width: 531px;
    padding: 70px 15px;
    text-align: center;

    &_content {
      max-width: 100%;
      width: 70%;

      .v-input {
        margin-bottom: 1rem;
      }

      .v-alert {
        margin-top: 1rem;
      }

      .v-label,
      .v-icon {
        color: rgba(68, 68, 68, 0.6) !important;
      }
    }
  }

  &_footer {
    margin-top: 1.5rem;
    text-align: center;

    a {
      color: rgba(68, 68, 68, 0.6) !important;
      text-decoration: none;
      background-color: transparent;

      &:hover {
        color: rgba(68, 68, 68, 0.8) !important;
      }
    }
  }
}
