.customers {
  &__empty {
    text-align: center;
    padding: 20% 0;

    &__title {
      @include font-size(25px);
      font-weight: 400;
    }

    &__subtitle {
      @include font-size(20px);
      font-weight: 400;
    }
  }
}
