.dashboard {
  &_summary {
    padding: 10px;
    background: white;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(194, 194, 194, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);
    @include transition(0.3s);

    &--icon {
      @include font-size(45px);
      color: rgba(68, 68, 68, 0.6) !important;
      margin-bottom: 5px;
    }

    &--info {
      @include font-size(23px);
      color: rgba(68, 68, 68, 0.7) !important;
    }

    &--title {
      @include font-size(15px);
      color: rgba(68, 68, 68, 0.6) !important;
    }

    &:hover {
      background: $primary-color;
      cursor: pointer;
      @include box-shadow(2px 2px 3px 0px rgba(0, 0, 0, 0.3));
      * {
        color: white !important;
      }
    }
  }

  &__customers {
    margin-top: 20px;

    &__item {
      display: flex;
      align-items: center;
      margin-top: 20px;

      // &__img {
      //   max-width: 40px;
      //   border-radius: 50%;
      //   margin-right: 2.5%;
      // }

      &__avatar {
        background: $primary-color;
        color: white;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border-radius: 50%;
      }

      &__title {
        @include font-size(17px);
      }
    }
  }
}
