<template>
  <div>
    <h1>Acesse sua conta</h1>
    <!-- <a v-ripple class="btn btn-facebook btn-rounded" @click="loginWithFacebook">Entre com facebook</a>

    <div class="separator">
      <span class="separator__line"></span>
      <span class="separator__text">ou</span>
      <span class="separator__line"></span>
    </div> -->

    <v-form @submit.prevent="loginValidate">
      <v-text-field v-model="email" :rules="emailRules" label="E-mail" append-icon="email" required></v-text-field>

      <v-text-field
        v-model="password"
        :append-icon="showPassword ? 'visibility' : 'visibility_off'"
        :rules="[rules.required, rules.min]"
        :type="showPassword ? 'text' : 'password'"
        label="Password"
        @click:append="showPassword = !showPassword"
        required
      ></v-text-field>

      <button v-ripple type="submit" class="btn btn-primary btn-rounded">Entrar</button>

      <v-alert v-if="alertError.status == true" :value="true" type="error">{{alertError.message}}</v-alert>
    </v-form>
  </div>
</template>

<script>
export default {
  name: "LoginForm",
  data() {
    return {
      valid: false,
      email: "",
      emailRules: [
        v => !!v || "Campo obrigatório",
        v => /.+@.+/.test(v) || "E-mail inválido"
      ],
      showPassword: false,
      password: "",
      rules: {
        required: value => !!value || "Campo obrigatório",
        min: v => v.length >= 8 || "Mínimo 8 caracteres",
        emailMatch: () => "O email e a senha que você digitou não correspondem."
      },
      alertError: {
        status: false,
        message: ""
      }
    };
  },
  methods: {
    loginValidate() {
      if (this.email == "" && this.password == "") {
        this.alertError.message = "Preencha os campos obrigatórios!";
        this.alertError.status = true;
        return;
      } else if (this.email == "") {
        this.alertError.message = "Preencha o campo e-mail!";
        this.alertError.status = true;
        return;
      } else if (this.password == "") {
        this.alertError.message = "Preencha o campo senha!";
        this.alertError.status = true;
        return;
      } else {
        this.loginWithFirebase();
      }
    },
    loginWithFirebase() {
      const user = {
        email: this.email,
        password: this.password
      };
      this.$store.dispatch("signInAction", user);
    },
    loginWithFacebook() {
      this.$store.dispatch("signUpFacebookAction");
    }
  }
};
</script>