<template>
  <div>
    <h1 class="mb-0">Cadastre-se e use grátis</h1>
    <p>por 7 dias, sem contrato e sem compromisso</p>
    <!-- <a v-ripple class="btn btn-facebook btn-rounded" @click="loginWithFacebook">Crie com facebook</a> -->

    <!-- <div class="separator">
      <span class="separator__line"></span>
      <span class="separator__text">ou</span>
      <span class="separator__line"></span>
    </div> -->

    <v-form @submit.prevent="registerValidate">
      <v-text-field
        v-model="newRegister.company"
        label="Empresa / Estabelecimento"
        append-icon="work"
        required
      ></v-text-field>

      <v-select
        v-model="newRegister.companyCategory"
        :items="categoryList"
        label="Qual o seu negócio?"
      ></v-select>

      <v-text-field
        v-model="newRegister.cnpj"
        label="CNPJ"
        mask="##.###.###.####/##"
        append-icon="verified_user"
        required
      ></v-text-field>

      <v-text-field
        v-model="newRegister.name"
        label="Nome do Responsável"
        append-icon="person"
        required
      ></v-text-field>

      <v-text-field
        v-model="newRegister.phone"
        label="Celular / Whatsapp"
        append-icon="phone"
        mask="(##) #####-####"
        required
      ></v-text-field>

      <v-text-field
        v-model="newRegister.email"
        :rules="emailRules"
        label="E-mail"
        append-icon="email"
        required
      ></v-text-field>

      <v-text-field
        v-model="newRegister.password"
        :append-icon="showPassword ? 'visibility' : 'visibility_off'"
        :rules="[passRules.required, passRules.min]"
        :type="showPassword ? 'text' : 'password'"
        label="Senha"
        @click:append="showPassword = !showPassword"
        required
      ></v-text-field>

      <button v-ripple type="submit" class="btn btn-primary btn-rounded">
        <span v-if="!loading">Registra-se</span>
        <v-progress-circular v-else indeterminate color="white"></v-progress-circular>
      </button>
    </v-form>
  </div>
</template>

<script>
export default {
  name: "Register",
  data() {
    return {
      newRegister: {
        company: "",
        cnpj: "",
        name: "",
        companyCategory: "",
        email: "",
        password: ""
      },
      emailRules: [
        v => !!v || "Campo obrigatório",
        v => /.+@.+/.test(v) || "E-mail inválido"
      ],
      showPassword: false,
      passRules: {
        required: value => !!value || "Campo obrigatório.",
        min: v => v.length >= 8 || "Mínimo 8 caracteres"
      },
      categoryList: [
        "Salão de Beleza",
        "Barbearia",
        "Clínica Estética",
        "Esmalteria ou Nail Art",
        "Podologia",
        "PetShop ou Clínica Veterinária",
        "Lava Rápido Automotivo",
        "Lava Rápido Delivery",
        "Clínica Odontológica",
        "Estúdio de Tatuagem",
        "Outro Segmento"
      ],
      loading: false
    };
  },
  methods: {
    registerValidate(submitEvent) {
      this.loading = true;

      setTimeout(() => {
        if (this.newRegister.company == "") {
          this.$swal({
            type: "error",
            title: "Oops...",
            text: 'Preencha o campo "Empresa / Estabelecimento"'
          });
          this.loading = false;
        } else if (this.newRegister.cnpj == "") {
          this.$swal({
            type: "error",
            title: "Oops...",
            text: 'Preencha o campo "CNPJ"'
          });
          this.loading = false;
        } else if (this.newRegister.name == "") {
          this.$swal({
            type: "error",
            title: "Oops...",
            text: 'Preencha o campo "Nome do responsável"'
          });
          this.loading = false;
        } else if (this.newRegister.phone == "") {
          this.$swal({
            type: "error",
            title: "Oops...",
            text: 'Preencha o campo "Celular / Whatsapp"'
          });
          this.loading = false;
        } else if (this.newRegister.companyCategory == "") {
          this.$swal({
            type: "error",
            title: "Oops...",
            text: "Seleciona a categoria do seu estabelecimento."
          });
          this.loading = false;
        } else if (this.newRegister.email == "") {
          this.$swal({
            type: "error",
            title: "Oops...",
            text: 'Preencha o campo "E-mail"'
          });
          this.loading = false;
        } else if (this.newRegister.password == "") {
          this.$swal({
            type: "error",
            title: "Oops...",
            text: 'Preencha o campo "Senha"'
          });
          this.loading = false;
        } else {
          this.registerWithFirebase();
        }
      }, 1000);
    },
    registerWithFirebase() {
      const newUser = {
        displayName: this.newRegister.name,
        email: this.newRegister.email,
        password: this.newRegister.password,
        company: this.newRegister.company,
        cnpj: this.newRegister.cnpj,
        companyCategory: this.newRegister.companyCategory,
      };
      this.$store.dispatch("signUpAction", newUser);
    },
    loginWithFacebook() {
      this.$store.dispatch("signUpFacebookAction");
    }
  }
};
</script>