<template>
  <div class="customers container-fluid">
    <div class="content-block px-0">
      <div class="row align-items-center mb-4" style="padding: 0 25px;">
        <div class="col-sm-6 d-flex align-items-center">
          <h2 class="section-title">Clientes</h2>
        </div>
        <div class="col-sm-6 d-flex align-items-center justify-content-end">
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Buscar cliente"
            single-line
            hide-details
            class="input-search"
          ></v-text-field>
          <a href="#" class="btn btn-primary" @click.prevent="dialog = true">Adicionar cliente</a>
        </div>
      </div>

      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="customersListStatic"
        item-key="name"
        :search="search"
        select-all
        v-if="customersListStatic.length > 0"
      >
        <template v-slot:items="props">
          <td>
            <v-checkbox v-model="props.selected" primary hide-details></v-checkbox>
          </td>
          <td>{{ props.item.name }}</td>
          <td>{{ props.item.email }}</td>
          <td>{{ props.item.phone }}</td>
          <td>{{ props.item.recentActivity }}</td>
        </template>
        <template v-slot:no-results>
          <v-alert
            :value="true"
            color="error"
            icon="warning"
          >Sua busca por "{{ search }}" não encontrou nenhum resultado.</v-alert>
        </template>
      </v-data-table>

      <div class="customers__empty" v-else>
        <h2 class="customers__empty__title">Você não possui nenhum cliente cadastrado.</h2>
        <h4 class="customers__empty__subtitle">
          Adicione seu primeiro cliente.
          <a href="#" @click.prevent="dialog = true">Clique aqui</a>
        </h4>
      </div>

      <!-- MODAL - NOVO CLIENTE -->
      <v-dialog v-model="dialog" persistent max-width="500px">
        <v-card>
          <v-container>
            <v-card-title>
              <span class="headline">Cadastrar Cliente</span>
            </v-card-title>
            <v-card-text>
              <v-layout wrap>

                <v-flex xs12>
                  <v-text-field label="Nome e sobrenome*" v-model="newCustomer.name" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field label="Celular/Whatsapp*" v-model="newCustomer.phone"></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field label="E-mail*" v-model="newCustomer.email"></v-text-field>
                </v-flex>

              </v-layout>
              <small>*Indica os campos obrigatórios</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click="dialog = false">Cancelar</v-btn>
              <v-btn color="blue darken-1" flat @click="setNewCustomer">Salvar</v-btn>
            </v-card-actions>
          </v-container>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "dashboard",
  components: {},
  data() {
    return {
      search: "",
      selected: [],
      headers: [
        {
          text: "Nome e sobrenome",
          align: "left",
          sortable: true,
          value: "name"
        },
        { text: "E-mail", value: "email", align: "left", sortable: true },
        { text: "Telefone", value: "phone", align: "left", sortable: false },
        {
          text: "Atividade recente",
          value: "recentActivity",
          align: "left",
          sortable: true
        }
      ],
      dialog: false,
      customersListStatic: [],
      newCustomer: {
        name: null,
        email: null,
        phone: null,
        userId: null
      }
    };
  },
  computed: {
    ...mapGetters(["customersList", "user"])
  },
  methods: {
    setNewCustomer() {
      this.newCustomer.userId = this.user.uid;
      this.$store.dispatch("setNewCustomerAction", this);
    }
  },
  created() {
    this.$store.dispatch("getCustomersList", this.user.uid);
  }
};
</script>

<style scoped>
.input-search {
  padding-top: 0 !important;
  margin-top: 0 !important;
  margin-right: 15px;
  max-width: 230px;
}
</style>
