<template>
  <div class="dashboard container-fluid">
    <div class="row">

      <div class="col-sm-12">
        <Summary />
      </div>

      <div class="col-sm-8">
        <SummaryCalendar />
      </div>

      <div class="col-sm-4">
        <NewCustomers />
      </div>

    </div>
  </div>
</template>

<script>
import Summary from "../../components/Dashboard/Summary";
import NewCustomers from "../../components/Dashboard/NewCustomers";
import SummaryCalendar from "../../components/Dashboard/SummaryCalendar";
export default {
  name: "dashboard",
  components: {
    Summary,
    NewCustomers,
    SummaryCalendar
  },
  data() {
    return {};
  },
};
</script>
