<template>
  <div class="row">
    <div class="col-sm-12">
      <div class="content-block">
        <h4 class="section-title">Novos clientes</h4>

        <div class="dashboard__customers" v-if="customersList != null">
          <div
            class="dashboard__customers__item"
            v-for="customer in customersList"
            :key="customer.id"
          >
            <!-- <img class="dashboard__customers--img" :src="customer.photo" :alt="customer.name" /> -->
            <div class="dashboard__customers__item__avatar">{{customer.avatar}}</div>
            <span class="dashboard__customers__item__name">
              {{customer.name}}
              <br />
              <small>Cadastrou-se há ..</small>
            </span>
          </div>
        </div>

        <div class="dashboard__customers" v-else>
          <p>Você não possui clientes cadastrados.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "NewCustomers",
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["customersList", "user"])
  },
  created() {
    this.$store.dispatch("getCustomersList", this.user.uid);
  }
};
</script>