<template>
  <div class="row">

    <div class="col-sm-3 col-6">
      <div class="dashboard_summary">
        <v-icon class="dashboard_summary--icon">people</v-icon>
        <div class="dashboard_summary--info">{{CustomersQuantity}}</div>
        <span class="dashboard_summary--title">Clientes Únicos</span>
      </div>
    </div>

    <div class="col-sm-3 col-6">
      <div class="dashboard_summary">
        <v-icon class="dashboard_summary--icon">today</v-icon>
        <div class="dashboard_summary--info">{{pendingSchedules}}</div>
        <span class="dashboard_summary--title">Agendamentos pendentes</span>
      </div>
    </div>

    <div class="col-sm-3 col-6">
      <div class="dashboard_summary">
        <v-icon class="dashboard_summary--icon">check_circle</v-icon>
        <div class="dashboard_summary--info">{{finishedSchedules}}</div>
        <span class="dashboard_summary--title">Agendamentos Realizados</span>
      </div>
    </div>

    <div class="col-sm-3 col-6">
      <div class="dashboard_summary">
        <v-icon class="dashboard_summary--icon">attach_money</v-icon>
        <div class="dashboard_summary--info">{{earningsMonthly}}</div>
        <span class="dashboard_summary--title">Faturamento Neste Mês</span>
      </div>
    </div>

  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "SummaryDashboard",
  data() {
    return {
      earningsMonthly: "R$ 0",
      finishedSchedules: "0",
      newCustomers: null,
      pendingSchedules: "0"
    };
  },
  computed: {
    ...mapGetters(["CustomersQuantity", "user"])
  }
};
</script>