<template>
  <div class="row">
    <div class="col-sm-12">
      <div class="content-block">
        <h4 class="section-title">Próximos agendamentos</h4>
        <FullCalendar defaultView="dayGridMonth" :events="eventsList" :plugins="calendarPlugins" />
      </div>
    </div>
  </div>
</template>

<script>
import FullCalendar from "@fullcalendar/vue";
import dayGridPlugin from "@fullcalendar/daygrid";

export default {
  name: "SummaryCalendar",
  components: {
    FullCalendar // make the <FullCalendar> tag available
  },
  data() {
    return {
      calendarPlugins: [dayGridPlugin],
      eventsList: [
        { title: "event 1", url: 'https://adelmo.dev', start: "2019-07-01T09:30", end: "2019-07-01T10:00" },
        { title: "event 2", date: "2019-07-02" }
      ]
    };
  },
};
</script>

<style lang='scss'>
@import "@fullcalendar/core/main.css";
@import "@fullcalendar/daygrid/main.css";
</style>