<template>
  <div class="row">
    <div class="col-sm-12">
      <div class="content-block">
        <h4 class="section-title">Agendamentos</h4>
        <canvas id="summary-chart"></canvas>
      </div>
    </div>
  </div>
</template>

<script>
import dashboardChartData from "../../services/summary-charts";
export default {
  name: "SummaryChart",
  data() {
    return {
      dashboardChartData: dashboardChartData
    };
  },
  methods: {
    createChart(chartId, chartData) {
      const ctx = document.getElementById(chartId);
      const myChart = new Chart(ctx, {
        type: chartData.type,
        data: chartData.data,
        options: chartData.options
      });
    }
  },
  mounted() {
    this.createChart("summary-chart", this.dashboardChartData);
  }
};
</script>