.btn {
  font-weight: 700 !important;
  color: white;
  font-size: 1rem;
  align-self: center;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  min-width: 230px;
  max-width: 230px;
  outline: none;
  padding: 0.575rem 0.85rem !important;
  border-radius: 10px;
  text-decoration: none;

  &-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background-color: $primary-color-hover;
      border-color: $primary-color-hover;
    }
  }

  &-rounded {
    border-radius: 1.5rem;
    padding: 0.575rem 0.85rem !important;
  }

  &-facebook {
    background-color: #3b5998;
    border-color: #3b5998;

    &:hover {
      background-color: #30497c;
      border-color: #2d4373;
    }
  }
}
