.separator {
  display: flex;
  width: 100%;
  margin: 14px 0;
}

.separator__text {
  color: #999;
}

.separator__line {
  flex: 1;
  position: relative;
}

.separator__line:first-child {
  margin-right: 15px;
}

.separator__line:last-child {
  margin-left: 15px;
}

.separator__line:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #e1e7ea;
  box-shadow: 0 1px 0 fade(#fff, 20%);
}
